$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:      #18b2be !default;
$indigo:    #91288d !default;
$purple:    #770f42 !default;
$pink:      #e8667b !default;
$red:       #d42128 !default;
$orange:    #e94600 !default;
$yellow:    #ffb717 !default;
$green:     #8bc53f !default;
$teal:      #c2ce6a !default;
$cyan:      #9dcfc2 !default;

$primary:       $blue !default;
$secondary:     $cyan !default;
$success:       $green !default;
$info:          $pink !default;
$warning:       $orange !default;
$danger:        $red !default;

$enable-rounded:  false !default;
$enable-shadows:  true !default;
// $enable-gradients: true !default;


$pretty--color-default: $green !default;
$pretty--color-primary: $primary !default;
$pretty--color-info: $info !default;
$pretty--color-success: $success !default;
$pretty--color-warning: $warning !default;
$pretty--color-danger: $danger !default;
