html, body {
    textarea {
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: clip;
        text-overflow: fade;
        resize: vertical;
    }

    .pointer {
        cursor: pointer;
    }
    .repeatable {
        button {
            height: 38px;
        }
    }
}

body {
    z-index:0;
}
canvas {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}
