.loader {
    z-index: 9999999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    background: $green;
    border-radius: 5px;
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
}
.loader:before,
.loader:after {
    position: absolute;
    display: block;
    content: "";
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
}
.loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: $orange;
}
.loader:after {
    bottom: -20px;
    width: 35px;
    background: $blue;
}


@-webkit-keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}
@keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}

.loader.small {
    position: relative;
    display: block;
    margin-top: 20px;
    left: -30px;
    width: 20px;
    height: 4px;
    -webkit-animation: load-sm 1.8s ease-in-out infinite;
    animation: load-sm 1.8s ease-in-out infinite;
}
.loader.small:before,
.loader.small:after {
    -webkit-animation: load-sm 1.8s ease-in-out infinite;
    animation: load-sm 1.8s ease-in-out infinite;
    height: 4px;
}
.loader.small:before {
    top: -10px;
    left: 10px;
    width: 10px;
}
.loader.small:after {
    bottom: -10px;
    width: 15px;
}

@-webkit-keyframes load-sm {
    0% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    50% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    100% {
        -webkit-transform: translateX(10px);
        transform: translateX(8px);
    }
}
@keyframes load-sm {
    0% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    50% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    100% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
